		html, body {
	     	height: 100%;
	     	padding: 0;
	    }
		header{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: darkslategray;
			padding: 10px;
			height: 70px;
		}
		header>h1 {
			text-align: center;
			color: greenyellow;
			margin: 10px;
		}
		nav {
			background-color: darkseagreen;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		nav ul {
			list-style-type: none;
		  	margin: 0;
		  	padding: 0;
		  	display: flex;
		}
		nav a {
			display: block;
		 	color: white;
		 	text-align: center;
		 	padding: 14px 16px;
		 	text-decoration: none;
		}
		nav li a.aktif {
			border-right: 1px white solid;
			background-color: olivedrab;
		}
		nav li a:hover:not(.aktif) {
			background-color: green;
		}
		.profile {
			display: flex;
			align-items: center;
			height: 47px;
			margin: 0;
		}
		.fotoProfile {
			border-radius: 47%;
			margin-right: 10px;
			width: 30px;
			height: 40px;
		}
		.profile h5 {
			padding-right: 10px;
		}
		.about {
	      	background-color: rgba(0, 255, 0, 0.5);
	      	padding: 16px;
	    }
	    .contact {
	      	background-color: rgba(0, 255, 0, 0.5);
	      	text-align: center;
	    }
		.conten {
			display: flex;
		}

		.left-colom {
			background-color: rgba(0, 170, 100, 1);
			margin: 0;
			padding: 0;
			width: 20%;
			height: auto;
		}
		#my {
			width: auto;
			display: block;
			text-align: center;
			margin: 0;
			padding: 16px;
			color: lightcyan;
			background-color: seagreen;
		}

		.projects {
			list-style-type: none;
			margin: 0;
			padding: 0;
			
		}
		.projects li a{
			display: block;
			color: yellow;
			text-align: center;
			padding: 16px;
			text-decoration: none;
		}
		.projects li a.aktif {
			border-bottom: 1px white solid;
			background-color: springgreen;
  			color: black;
		}
		.projects li a:hover:not(.aktif) {
			color: black;
			background-color: rgb(0, 220, 20);
		}

		.right-colom {
			background-color: rgba(0, 255, 0, 0.5);
			width: 100%;
			padding: 16px;
		
		}
		h2 {
			text-align: center;
		}
		h1 {
			text-align: center;
			margin: 0;
		}
		.nama {
	       margin: 0;
	       padding-top: 100px;
	    }
	    .logo {
	      width: 250px;
	    }
		.gmbratas {
	      width: 25%;
	      float: left;
	      background-color: gray;"
	    }
	    #silang {
	       display: block;
	       text-align: right;
	       background-color: gray;"
	    }
	    #tulisan {
	       display: block;
	       margin-top: 0px;
	       margin-bottom: 5px;
	       text-align: center;"
	    }
	    #iklan {
	      width: 100%;
	    }
	    .isiBiodata {
	       margin: 12px;
	       float: left;
	       width: 70%;
	    }
		table {
			width: 100%;
			padding-left: 16px;
		}
		table.buku {
	      width: 100%;
	      border-collapse: collapse;
	    }
	    table.buku, .buku th, .buku tr, .buku td {
	      border: 1px solid;
	    }
	    table.buku td {
	      padding: 5px;
	    }
		.titik {
			text-align: right;
		}
		.gambar {
			width: 100%;
			padding-top: 1px;
		}
		.tombol {
  		  display: inline-block;
  		  padding: 10px 20px;
 		  background-color: #f0f0f0;
  		  border: 1px solid #ccc;
  		  text-decoration: none;
  		  color: #000;
  		}